
@{
    ViewBag.Title = "AboutManagement";
    Layout = "~/Views/Shared/_Layout_DashBoard.cshtml";
}

<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Data Tables</div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">About Management</span>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAbout">
                        Add new About Content
                    </button>
                    <table id="example" class="display responsive-table datatable-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Des</th>
                                <th>Main status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Des</th>
                                <th>Main status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            <tr>
                                <td><span>ID</span></td>
                                <td><span>Title</span></td>
                                <td><span>Des</span></td>
                                <td>Main status</td>
                                <td><a href="#">Edit</a></td></td>
                                <td><a href="#" onlick="return ConfirmDelete()">Delete</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div id="addAbout" class="modal fade" aria-labelledby="addAbout">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("AddAbout", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Add New Solution</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Title</label>
                        <input name="Title" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="Des" id="editor1" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            }
        </div>
        <script src="~/Content/Dashboard/assets/plugins/ckeditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('editor1');
        </script>
    </div>
</div>


