
@{
    ViewBag.Title = "PaymentManagement";
    Layout = "~/Views/Shared/_Layout_DashBoard.cshtml";
}


<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Data Tables</div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">User Management</span>
                    <table id="example" class="display responsive-table datatable-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Payment Type</th>
                                <th>Company</th>
                                <th>Phone</th>
                                <th>Mail</th>
                                <th>Subcription Type</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Payment Type</th>
                                <th>Company</th>
                                <th>Phone</th>
                                <th>Mail</th>
                                <th>Subcription Type</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Total</th>
                            </tr>
                        </tfoot>
                        <tbody>
                          
                            <tr>
                                <td>#203</td>
                                <td>PayPal</td>
                                <td>Curabitur Libero Corp</td>
                                <td>123123123</td>
                                <td>abc@gmail.com</td>
                                <td>3 Month</td>
                                <td>Dec 16, 18:12</td>
                                <td><span class="pie">3/8</span></td>
                                <td>$5430</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
