/* Write your custom CSS here */

.message-success {
    color: #87BD48;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: block;
}

.message-danger {
    color: red;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: block;
}
