nav#tab-menu-by-me {
    margin: 27px auto 0;
    position: relative;
    width: 589px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav#tab-menu-by-me a {
    line-height: 58px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav#tab-menu-by-me .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

#tab-menu-by-me a:nth-child(1) {
    width: 67px;
}

#tab-menu-by-me a:nth-child(2) {
    width: 110px;
}

#tab-menu-by-me a:nth-child(3) {
    width: 100px;
}

#tab-menu-by-me a:nth-child(4) {
    width: 160px;
}

#tab-menu-by-me a:nth-child(5) {
    width: 120px;
}

nav#tab-menu-by-me .start-home,
#tab-menu-by-me a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}

nav#tab-menu-by-me .start-about,
#tab-menu-by-me a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
}

nav#tab-menu-by-me .start-blog
 {
    width: 100px;
    left: 210px;
    background-color: #3498db;
}

#tab-menu-by-me a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
}

nav#tab-menu-by-me .start-portefolio,nav#tab-menu-by-me a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
}

nav#tab-menu-by-me .start-contact,nav#tab-menu-by-me
a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
}


#tab-menu-by-me h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
}

#tab-menu-by-me p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    font-size: 16px;
}

#tab-menu-by-me span {
    color: #2BD6B4;
}