
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_DashBoard.cshtml";
}
<main class="mn-inner inner-active-sidebar">
    <div class="middle-content">
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l4">
                <div class="card stats-card">
                    <div class="card-content">
                        <div class="card-options">
                            <ul>
                                <li class="red-text"><span class="badge cyan lighten-1">gross</span></li>
                            </ul>
                        </div>
                        <span class="card-title">Number of Candidate</span>
                        <span class="stats-counter"><span class="counter">@ViewBag.totalCandidate</span></span>
                    </div>
                    <div id="sparkline-bar"></div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card stats-card">
                    <div class="card-content">
                        <div class="card-options">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="material-icons">more_vert</i></a></li>
                            </ul>
                        </div>
                        <span class="card-title">Number of Recruitment</span>
                        <span class="stats-counter"><span class="counter">@ViewBag.totalRecruitment</span></span>
                    </div>
                    <div id="sparkline-line"></div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card stats-card">
                    <div class="card-content">
                        <span class="card-title">Service Time</span>                      
                        <span class="stats-counter"><span class="counter">@ViewBag.serviceTime DAY</span></span>
                        @*<div class="percent-info green-text">8% <i class="material-icons">trending_up</i></div>*@
                    </div>
                    <div class="progress stats-card-progress">
                        <div class="determinate" style="width: 70%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l8">
                <div class="card visitors-card">
                    <div class="card-content">
                        <div class="card-options">
                            <ul>
                                <li><a href="javascript:void(0)" class="card-refresh"><i class="material-icons">refresh</i></a></li>
                            </ul>
                        </div>
                        <span class="card-title">Visitors<span class="secondary-title">Showing stats from the last week</span></span>
                        <div id="flotchart1"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card server-card">
                    <div class="card-content">
                        <div class="card-options">
                            <ul>
                                <li class="red-text"><span class="badge blue-grey lighten-3">optimal</span></li>
                            </ul>
                        </div>
                        <span class="card-title">Server Load</span>
                        <div class="server-load row">
                            <div class="server-stat col s4">
                                <p>167GB</p>
                                <span>Usage</span>
                            </div>
                            <div class="server-stat col s4">
                                <p>320GB</p>
                                <span>Space</span>
                            </div>
                            <div class="server-stat col s4">
                                <p>57.4%</p>
                                <span>CPU</span>
                            </div>
                        </div>
                        <div class="stats-info">
                            <ul>
                                <li>Google Chrome<div class="percent-info green-text right">32% <i class="material-icons">trending_up</i></div></li>
                                <li>Safari<div class="percent-info red-text right">20% <i class="material-icons">trending_down</i></div></li>
                                <li>Mozilla Firefox<div class="percent-info green-text right">18% <i class="material-icons">trending_up</i></div></li>
                            </ul>
                        </div>
                        <div id="flotchart2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>