
@{
    ViewBag.Title = "Recruitment";
    Layout = "~/Views/Shared/_Layout_DashBoard.cshtml";
}

<div class="row">
    <div class="col s12 m12 l0">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Add Your Profile Company</span><br>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="jon-name" type="text" class="validate">
                                <label class="active" for="jon-name">Job Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="amount" type="text" class="validate">
                                <label class="active" for="amount">Amount</label>
                            </div>

                            <div class="input-field col s6">
                                <input id="Experience" type="text" class="validate">
                                <label class="active" for="Experience">Experience</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="work-time" type="text" class="validate">
                                <label class="active" for="work-time">Work Time</label>
                            </div>
                            <div class="input-field col s2">
                                <label>Gender</label>
                            </div>
                            <div class="input-field col s2">

                                <input id="Male" type="radio" name="Gender" class="validate">
                                <label class="active" for="Male" style="margin-top: 32px;">Male</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="Female" type="radio" name="Gender" class="validate">
                                <label class="active" for="Female" style="margin-top: 32px;">Female</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="Address" type="text" class="validate">
                                <label class="active" for="Address">Address</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="end-date" type="date" class="validate">
                                <label class="active" for="end-date">End Date</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="salary" type="text" class="validate">
                                <label class="active" for="salary">Salary</label>
                            </div>

                            <div class="input-field col s12" style="margin-top: 50px;">
                                <label class="active" for="job-Desc">Job description</label>
                            </div>
                            <div class="input-field col s12" style="margin: 20px 0px;">
                                <textarea class="ckeditor" name="jobDesc" id="job-Desc" cols="10" rows="30" style="height: 12rem;padding: 15px;"></textarea>
                            </div>
                            <div class="input-field col s12" style="margin: 20px 0px;">
                                <label class="active" for="Requirement">Requirement</label>
                            </div>
                            <div class="input-field col s12" style="margin: 20px 0px;">
                                <textarea class="ckeditor" name="requirement" id="Requirement" cols="10" rows="30" style="height: 12rem;padding: 15px;"></textarea>
                            </div>
                            <div class="input-field col s12" style="margin: 20px 0px;">
                                <label class="active" for="Benefit">Benefit</label>
                            </div>
                            <div class="input-field col s12" style="margin: 20px 0px;">
                                <textarea class="ckeditor" name="Benefit" id="Benefit" cols="10" rows="30" style="height: 12rem;padding: 15px;"></textarea>
                            </div>
                            <div style="padding:10px 0px 200px 10px;">
                                <button class="btn teal" style="margin: 20px 0px 0px 20px ;">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

