<li class="no-padding"><a class="waves-effect waves-grey active" href="/Admin/Index"><i class="material-icons">settings_input_svideo</i>Dashboard</a></li>
<li class="no-padding"><a href="/Admin/UserManagement"><i class="material-icons">perm_identity</i>User Management</a></li>
<li class="no-padding"> <a href="/Admin/PartnerManagement"><i class="material-icons">business</i>Partner Management</a></li>
<li class="no-padding"> <a href="/Admin/PaymentManagement"><i class="material-icons">paid</i>Payment Management</a></li>
<li class="no-padding"> <a href="/Admin/SubscriptionManagement"><i class="material-icons">subscriptions</i>Subscription Management</a></li>
<li class="no-padding"> <a href="/Admin/ContentManagement"><i class="material-icons">assignment</i>Content Management</a></li>
<li class="no-padding"> <a href="/Admin/SolutionManagement"><i class="material-icons">description</i>Solution Management</a></li>
<li class="no-padding"> <a href="/Admin/AboutManagement"><i class="material-icons">album</i>About Managment</a></li>

