
<li class="no-padding active">
    <a class="waves-effect waves-grey active" href="/User/Index">
        <i class="material-icons">settings_input_svideo</i>Dashboard
    </a>
</li>
<li class="no-padding">
    <a class="waves-effect waves-grey active" href="/User/UserProfile">
        <i class="material-icons">account_circle</i>User Profile
    </a>
</li>
<li class="no-padding">
    <a class="waves-effect waves-grey active" href="/User/SearchRecruitment">
        <i class="material-icons">search</i>Searching
    </a>
</li>
<li class="no-padding">
    <a class="waves-effect waves-grey active" href="/User/LoadPortfolio">
        <i class="material-icons">description</i>Portfolio
    </a>
</li>