
    <li class="no-padding active"><a class="waves-effect waves-grey active" href="/User/Index"><i class="material-icons">settings_input_svideo</i>Dashboard</a></li>
    <li class="no-padding"><a class="waves-effect waves-grey active" href="/User/Index"><i class="material-icons">search</i>Searching</a></li>
    <li class="no-padding"><a class="waves-effect waves-grey active" href="/User/LoadPortfolio"><i class="material-icons">mode_edit</i>Portfolio</a></li>